<%= devise_error_messages! %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h2>Forgot your password?</h2>

      <div class="form-bottom">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :id => "sign_up_form"}) do |f| %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
