<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed table-fill">
      <thead>
        <tr>
          <th class="text-left">Medications</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% if @prescriptions.empty? %>
          <tr>
            <td>You have not added any prescriptions</td>
          </tr>
        <% else %>
          <% @prescriptions.each do |rx| %>
            <tr>
              <td><%= link_to "#{rx.drug.name} #{rx.strength}", prescription_path(rx) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-condensed table-fill">
      <thead>
        <tr>
          <th class="text-left">Physicians</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% if @physicians.empty? %>
          <tr>
            <td>You have not added a physician</td>
          </tr>
        <% else %>
          <% @physicians.each do |md| %>
            <tr>
              <td>
                <%= link_to md.name, physician_path(md)  %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>
