<h3>User Dashboard</h3>

<%= link_to "Add Prescription", new_prescription_path %>

<ul>
  <% @prescriptions.each do |rx| %>
    <li><%= link_to rx.drug, prescription_path(rx) %></li>
  <% end %>
</ul>
