/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

.form-top, .subheader {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  box-shadow: 0 0 30px #c8c8c8;
}

.form-top {
  text-align: center;
  color: #888;
}

.subheader, .medication-table {
  background: #fff;
  color: black;
  padding: 10px 0;
  margin-top: 10px;
}

a {
  color: black;
}

.subheader li {
  display: inline-block;
}

.navbar li {
  display: inline-block;
}

a:hover {
  color: black;
  text-decoration: none;
}

.main-header {
  padding-top: 10px;
}

.navbar {
  padding: 15px;
}

.navbar li {
  padding: 0 20px;
}

#logo {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 28px;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea select {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-top-left h3 { margin-top: 0; }

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-box {
	padding-top: 40px;
  padding-bottom: 40px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

#user-log-in {
  padding-top: 10px;
}

.dashboard-icon {
  width: 20px;
  height: 20px;
}



//
// /* Mobile */
// @media (max-width: 767px) {
//   .item {
//     height: 100%;
//   }
//   .item > img {
//     width: 100%;
//   }
// }
//
// /* tablets */
// @media (max-width: 991px) and (min-width: 768px) {
//   .item {
//     height: auto;
//   }
//   .item > img {
//     width: 100%;
//   }
// }
//
// /* laptops */
// @media (max-width: 1023px) and (min-width: 992px) {
//   .item {
//     height: auto;
//   }
//   .item > img {
//     width: 100%;
//   }
// }
//
// /* desktops */
// @media (min-width: 1024px) {
//   .item {
//     height: 100%;
//   }
//   .item > img {
//     width: 100%;
//   }
// }
