<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("medication-form.jpg", class: "carousel-image img-responsive") %>
      </div>
      <div class="item">
        <%= image_tag("pills-table.jpg", class: "carousel-image img-responsive") %>
      </div>
      <div class="item">
        <%= image_tag("keyboard-pills.jpg", class: "carousel-image img-responsive") %>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container about-container">
  <div class="row home-about text-center">
    <div class="col-md-12">
      <h2 class="text-about">About</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <i class="fa fa-user-md fa-4x" aria-hidden="true"></i>
      <h3>Adverse Reactions</h3>
      <p>Medication Tracker allows you to view reported adverse reactions for each of your prescriptions using the openFDA API.</p>
    </div>
      <div class="col-md-4">
        <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
        <h3>Organize</h3>
        <p>Medication Tracker allows you to organize all of your prescription and physician information in one place.</p>
      </div>
    <div class="col-md-4">
      <i class="fa fa-tachometer fa-4x" aria-hidden="true"></i>
      <h3>User Dashboard</h3>
      <p>Medication Tracker provides a user friendly dashboard to view all prescriptions and physician details.</p>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="home-footer">Medication Tracker was created as a final project at Launch Academy by Jessica Rowland, Copyright &copy; 2016</p>
<script>
    $('.carousel').carousel({
      interval: 5000
    })
</script>
